<h1>Get the latest tweet from Twitter on your mobile phone!</h1>

<p>
  Enter your phone number in the form below, and
  you'll receive the latest entertaining tweet from Twitter.
</p>


<section>
  <div class="input-prepend" id="telephone">
    <span class="add-on">☎</span>
    <input class="xlarge" id="prependedInput" name="prependedInput" size="16" type="text">
  </div>

  <input type="submit" class="btn primary" value="Sent a tweet to my phone"> &nbsp;
  <button type="reset" class="btn">Cancel</button>
</section>
